/backend/venv
/backend/app/__pycache__/
/backend/app/models/__pycache__/
/backend/app/schemas/__pycache__/
/backend/app/services/__pycache__/
/backend/app/routes/__pycache__/


/frontend/node_modules/

*.db

build/